<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LIN.Contacts.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <script src="https://cdn.tailwindcss.com"></script>

    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="@InteractiveWebAssembly" />

   
    <script src="./js/battery.js"></script>

    <script src="./js/Blazor.js"></script>

    <script src="https://flowbite.com/docs/flowbite.min.js?v=1.6.5a"></script>

    <script src="./js/Flowbite.js"></script>
    <script src="./js/web.js"></script>
    <script src="./js/Voice.js"></script>


    <script src="_framework/blazor.web.js"></script>
</body>

</html>
