 <!-- Propiedades -->
@page "/"

<!-- Dependencias -->
@inject IJSRuntime JSRuntime
@inject NavigationManager nav
@rendermode InteractiveWebAssembly

@if (!Access.Contacts.Session.IsOpen)
{
    <div class="flex justify-center items-center h-screen w-full">
        <CircleLoader />
    </div>

    Task.Run(async () =>
    {
        nav.NavigateTo("/login");
    });
    return;
}

<!-- Estilos -->
<link href="./css/Index.css" rel="stylesheet" />
<style>
    .imgS {
        padding-top: 27%;
    }

    .texto-ss {
        font-size: 2vh;
    }
</style>

@{
    Me = this;
}

<!-- Variables Estáticas -->
@code
{


    Emma EmmaIA { get; set; }
    string Pattern = "";

    /// <summary>
    /// Obtiene si los proyectos ya están cargados
    /// </summary>
    public static Index Me { get; set; }


    /// <summary>
    /// Obtiene si los proyectos ya están cargados
    /// </summary>
    public static bool AreProjectLoaded { get; set; }


    /// <summary>
    /// OLista de proyectos
    /// </summary>
    public static List<ContactModel> Contactos { get; set; } = new();

    public static List<ContactModel> RenderList { get; set; } = new();


    void RunEmma()
    {
        EmmaIA.Show();
    }

    protected override void OnInitialized()
    {


        base.OnInitialized();
    }


    public ContactModal ModalContactos { get; set; }
}


<!-- Cabezeras -->
<NavBar Tablero="true" />



<Emma @ref=EmmaIA></Emma>


<ContactModal @ref="ModalContactos"></ContactModal>





<div class="layoutMain">



        <h1 class="font-bold" style="font-size: 35px">Bienvenido a LIN</h1>
    




    <h5 class="gilroy" style="font-size: 15px">@Saludo(LIN.Access.Contacts.Session.Instance.Account.Name.Split(" ")[0]), ¿Que quieres hacer hoy?</h5>



    <div class="mt-4">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input @bind="Pattern" @oninput="Search" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-pink-500 focus:ring-1 focus:border-pink-500 focus:outline-none" placeholder="Buscar personas, teléfonos, correos..." required>
            <button @onclick="Search" type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-4 py-2">Buscar</button>
        </div>
    </div>



    <div class="flex mt-4">

        <ActionButton Src="./img/add.png" HexColor="#475569" OnClick="A" />
        <ActionButton Src="./img/devices.png" HexColor="#475569" OnClick="A2" />
        <ActionButton Src="./img/delete.png" HexColor="#22c55e" OnClick="GoToTrans" />
        <ActionButton Src="./arroba.png" HexColor="#22c55e" OnClick="RunEmma" />

    </div>



    <div class="mt-6">

        <label @onclick="LoadProjects" style="font-size: 18px;" class="font-bold mb-3">Contactos</label>
        @if (!AreProjectLoaded)
        {
            <div class="flex items-center justify-center h-44 h-9 w-full rounded-lg">
                <CircleLoader />
            </div>
        }
        else
        {
            if (RenderList.Count == 0)
            {
                <div class="flex mb-4 -space-x-4 mt-2">
                    <div class="flex flex-col rounded justify-center items-center border-dashed border-2 border-gray-800 w-full p-4">
                        <label class="text-gray-700 mt-2">
                            No tienes ningún contacto
                        </label>

                        <div class="flex">
                            <MiniButton Src="./img/add.png" HexColor="#475569" OnClick="A" />
                            <MiniButton Src="./img/devices.png" HexColor="#475569" OnClick="A" />
                        </div>


                    </div>
                </div>
            }
            else
            {
                <div style="margin-left: 2px" class="relative sm:rounded-lg mt-2 mb-5">

                    @foreach (var project in RenderList)
                    {
                        <ContactComponent OnDelete="LoadProjects" Modelo="project" Modal="ModalContactos" />
                    }

                </div>
            }
        }

    </div>

</div>


<DrawerProject OnSuccessCreate="OnSucces" />
<DrawerSync OnSuccessCreate="OnSucces" />

