@page "/login"
<PageTitle>Iniciar Sesión</PageTitle>

@rendermode InteractiveWebAssembly
@inject NavigationManager nav

<div class="h-screen md:flex select-none">

	<!-- Sección Visual -->
	<div class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden">
		<div>
			<h1 class="text-white font-bold text-4xl font-bold">LIN</h1>
			<p class="text-white mt-1">Servicios amigables al alcance de tu mano.</p>
		</div>
		<div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
	</div>

	<!-- Entradas de usuario -->
	<div class="flex md:w-1/2 justify-center py-10 items-center bg-white h-screen">

		<div class="mx-auto w-full max-w-md sm:px-4 md:w-96 md:max-w-sm md:px-0">
			
			<!-- Entrada -->
			@if (Section == 0)
			{
				<!-- Bienvenida -->
				<div class="flex flex-col">
					<div class="flex flex-row items-center">
						<label class="text-2xl self-center font-bold">
							Bienvenido
						</label>
					</div>

					<div class="mt-1">
						<p class="text-sm text-gray-700">
							@if (IsWithKey)
							{
								<span>Iniciar sesión con tu teléfono</span>
							}
							else
							{
								<span>Iniciar sesión en tu cuenta</span>
							}
						</p>
					</div>
				</div>

				<!-- Entradas -->
				<div class="mt-8 grid grid-cols-1 gap-4">

					<!-- Usuario -->
					<div>
						<label class="mb-2 block text-sm font-medium text-gray-700">Usuario</label>
						<input @oninput="HideError" @bind="User" type="text" autocomplete="off" required="" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 placeholder-gray-400 focus:border-indigo-500 focus:bg-white focus:outline-none focus:ring-indigo-500 sm:text-sm">
					</div>

					<!-- Contraseña -->
					@if (!IsWithKey)
					{
						<div>
							<label class="mb-2 block text-sm font-medium text-gray-700">Contraseña</label>
							<input @oninput="HideError" @bind="Password" type="password" autocomplete="off" class="block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 placeholder-gray-400 focus:border-indigo-500 focus:bg-white focus:outline-none focus:ring-indigo-500 sm:text-sm">
						</div>
					}

					<!-- Error -->
					@if (ErrorMessage.Trim() != string.Empty)
					{
						<center class="" style="margin-bottom: -10px;">
							<label class="text-red-500 font-bold text-sm">@ErrorMessage</label>
						</center>
					}
					
					<div class="flex flex-row mt-1">
						<button @onclick="Start" class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-bold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-indigo-600 text-white hover:text-slate-100 hover:bg-indigo-500 active:bg-indigo-800 active:text-indigo-100 focus-visible:outline-indigo-600 w-full"><!--!--><span>Iniciar <span aria-hidden="true">→</span></span></button><!--!-->

						<button @onclick="()=>{IsWithKey = !IsWithKey; StateHasChanged();}" type="button" class="text-white bg-indigo-600 w-20 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center ml-2  flex justify-center"><!--!--><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="" viewBox="0 0 16 16"><path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"></path></svg></button>
					</div>

					<div class="flex flex-row justify-end items-end"><label class="text-sm text-indigo-600 hover:text-indigo-800"><!--!-->Olvide mi contraseña</label></div>
				</div>
			}

			// Iniciando sección.
			else if (Section == 1)
			{
				<div class="flex flex-col justify-center items-center">
                    <CircleLoader />
                    <label class="mt-1 text-zinc-700">Iniciando sesión</label>
				</div>
			}

			// Esperando teléfono.
			else if (Section == 2)
			{
				<div class="flex flex-col justify-center items-center">
					<img src="./img/smartphone.png" class="h-8 w-8" />
					<label class="mt-1 text-zinc-700">Revisa tu teléfono</label>
				</div>
			}

		</div>

	</div>

</div>