@page "/logout"
@inject NavigationManager nav
@rendermode InteractiveWebAssembly

<div class="flex items-center justify-center h-screen">
    <CircleLoader />
</div>


@code{
    protected override async void OnAfterRender(bool firstRender)
    {
        LIN.Access.Contacts.Session.CloseSession();
        //Online.StaticHub.Leave();
        Index.AreProjectLoaded = false;
        Index.Contactos = new();
        await Task.Delay(1000);
        nav.NavigateTo("/login");
        base.OnAfterRender(firstRender);
    }

  
}